body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header styles */
@import url("./header/header-styles.css");

/* Sub Page header styles */
@import url("./header/global-sub-hero-screen.css");

/* Login auth styles */
@import url("./auth/global-auth-style.css");

/* All Pages styles */
@import url("./pages/global-pages-styles.css");

/* All components styles */
@import url("./component/global-component-styles.css");
