
/* Hero component styles */
.modal {
  background: rgba(0, 0, 0, 0.6);
}
.modal-container {
  position: absolute;
  width: 60%;
  background: #ffffff;
  left: 22%;
  top: 15%;
  padding: 20px;
}
.modal-container a {
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  background-color: #800000;
  color: white !important;
}
.hero-modal-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  height: 40%;
  padding: 0 !important;
}
.hero-modal-container video {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin-bottom: 10px;
}
#hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.main-hero-custom-container {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 7rem;
}
.send-money-form-container {
  margin-top: 0;
}
.inner-text-items-container {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5rem;
}
.inner-text-items-container h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.inner-text-items-container p {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
}
.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.btns-container .btn-1 {
  padding: 10px;
}
.get-started-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  padding: 10px;
  margin: 0 auto;
  text-decoration: none !important;
  color: white !important;
  border: 1px solid #800000;
  background-color: #800000;
  margin-right: 10px;
}
.get-started-btn:hover {
  background-color: white;
  color: #800000 !important;
}
.video-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.video-container .watch-video {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  text-decoration: none !important;
  color: white !important;
  font-size: 1rem;
}
.video-container .watch-video:hover {
  text-decoration: none !important;
  color: #800000 !important;
}
.video-container .watch-video i {
  padding: 5px;
  color: #800000;
  font-size: 2rem;
}
.video-container span {
  color: white;
  font-size: 1.2rem;
}
.send-money-form-container {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5rem;
}
.inner-money-send-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inner-form-calculator-box {
  max-width: 315px;
  background-color: white;
  padding: 10px;
  color: black;
}
.currency-header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.currency-header-box label {
  font-size: 1rem;
  color: #800000;
  font-weight: 700;
}
.currency-select-container {
  width: 90%;
  margin: 0 auto;
}
.currency-select-box {
  width: 100%;
  padding: 2px;
  margin: 0 auto;
  border-radius: 0 0 0 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #800000;
  color: white;
  cursor: pointer;
}
.custom-transaction-input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
}
.custom-transaction-input-box input[type="number"] {
  width: 100px;
}
.inner-currency-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.inner-currency-box h3 {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.currency-input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.currency-input-group span {
  font-size: 14px;
  padding-left: 3px;
  color: #800000;
  font-weight: 700;
}
.currency-result-box {
  margin-top: 10px;
}
.currency-result-box p {
  font-size: 14px;
  font-weight: 700;
}
.currency-rate-text-box {
  display: flex;
  justify-content: center;
}
.currency-rate-text-box span {
  padding: 5px;
  font-size: 14px;
  color: black;
}
.currency-rate-text-box span strong {
  padding-right: 5px;
}
span #swap-currency-icon {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  color: #800000;
}
.btn-container {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #800000 !important;
  color: white !important;
  text-decoration: none !important;
}
.tranaction-text-container {
  text-align: center;
  padding: 5px;
}
.tranaction-text-container p {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}
.tranaction-text-container p a {
  text-align: center;
  font-size: 12px;
  color: #800000;
}
@media screen and (max-width: 767px) {
  .main-hero-custom-container {
    margin-top: 6rem;
  }
  .inner-text-items-container h2 {
    font-size: 1.6rem;
  }
  .inner-text-items-container p {
    font-size: 1rem;
  }
  .send-money-form-container {
    margin-top: 1rem;
  }
  .inner-text-items-container {
    margin-top: 2rem;
  }
  .inner-form-calculator-box {
    max-width: 315px;
  }
}
@media screen and (max-width: 500px) {
  .main-hero-custom-container {
    padding: 10px;
    margin-top: 2rem;
  }
  .inner-text-items-container {
    margin-top: 2rem;
  }
  .inner-text-items-container h2 {
    font-size: 1.1rem;
  }
  .inner-text-items-container p {
    font-size: 13px;
  }
  .btns-container .btn-1 {
    padding: 10px;
  }
  .btns-container {
    padding: 0;
  }
  .btns-container .btn-1 {
    padding: 5px;
  }
  .get-started-btn {
    font-size: 1rem;
  }
  .send-money-form-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1rem;
  }
  .inner-form-calculator-box {
    max-width: 315px;
    padding: 5px;
  }
  .inner-form-calculator-box form {
    padding: 2px;
  }
  .inner-form-calculator-box form label {
    margin-top: 2px;
  }
  .inner-form-calculator-box form span {
    font-size: 12px;
    margin-bottom: 2px;
  }
  span #swap-currency-icon {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: #800000;
  }
  .btn-container {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
  }
  .tranaction-text-container {
    text-align: center;
    padding: 2px;
  }
  .video-container .watch-video {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 1rem;
  }
}
@media screen and (width: 320px) {
  .main-hero-custom-container {
    margin-top: 1rem;
  }
  .inner-text-items-container {
    margin-top: 2rem;
  }
  .inner-form-calculator-box {
    max-width: 315px;
    padding: 5px;
  }
}


/* Create bank account component styles */
#bank-account-container {
  width: 100%;
  padding: 20px 40px;
  margin-bottom: 1rem;
}
.inner-bank-account-box {
  max-width: 1300px;
  padding: 10px 40px;
  margin: 0 auto;
}
.main-inner-bank-content-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.bank-account-box {
  max-width: 500px;
  margin: auto;
  padding: 10px;
  margin: 0.7rem;
}
.bank-account-img-box {
  padding: 5px;
}
#custom-account-box {
  margin-bottom: 3rem;
}
.bank-account-img-box img {
  width: 100px;
}
.bank-account-text-box {
  padding-right: 5px;
  margin-right: 5px;
}
.custom-bank-heading-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  padding-right: 5px;
}
.custom-bank-heading-box span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #800000;
  padding-right: 5px;
}
.custom-bank-heading-box h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.bank-account-text-box p {
  font-size: 1rem;
  color: gray;
  text-align: center;
  text-transform: capitalize;
}
@media screen and (max-width: 960px) {
  .main-inner-bank-content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #custom-account-box {
    margin-bottom: 0;
  }
  .bank-account-img-box img {
    width: 100px;
  }
  .bank-account-text-box {
    padding-right: 0;
    margin-right: 0;
  }
  .custom-bank-heading-box {
    padding-right: 0;
  }
  .custom-bank-heading-box span {
    font-size: 1.5rem;
    padding-right: 4px;
  }
}
@media screen and (max-width: 600px) {
  #bank-account-container {
    padding: 5px 40px;
    margin-bottom: 0;
  }
  .main-inner-bank-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #custom-account-box {
    margin-bottom: 0;
  }
  .bank-account-img-box img {
    width: 100px;
  }
  .custom-bank-heading-box span {
    font-size: 1rem;
  }
  .custom-bank-heading-box h3 {
    font-size: 1rem;
  }
  .bank-account-text-box p {
    font-size: 14px;
  }
  .inner-bank-account-box {
    padding: 5px 5px;
  }

}


/* Our online platform component styles */
#online-platform-container {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-top: 5px;
  background-color: #fafafa;
}
.inner-online-platform-box {
  padding: 1.5rem;
}
.online-platform-text-content {
  margin-bottom: 1rem;
  padding: 10px;
}
.online-platform-intro-text-box h1 {
  font-size: 1.7rem;
  text-transform: capitalize;
}
.online-platform-intro-text-box p {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: gray;
}
.online-platform-content-box {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0 auto;
  gap: 4px;
  grid-auto-flow: row;
}
.online-platform-box {
  padding: 20px;
  margin: 5px;
  background-color: white;
  box-shadow: 1px 1px 3px 3px lightgray;
}
.main-online-content-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 10px;
}
.online-platform-img-box {
  margin-right: 3px;
  padding: 10px;
}
.online-platform-img-box img {
  width: 100px;
}
.online-platform-text-box {
  max-width: 55%;
  padding: 5px;
  margin-left: 3px;
}
.online-platform-text-box h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.online-platform-text-box p {
  font-size: 14px;
  color: gray;
}
.online-platform-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.online-platform-btns-container a {
  margin: 5px;
}
.more-about-us-box a {
  max-width: 150px;
  padding: 10px;
  font-size: 1.1rem;
  text-decoration: none !important;
  color: white !important;
  border: 1px solid #800000;
  background-color: #800000;
}
.more-about-us-box a:hover {
  color: #800000 !important;
  background-color: white;
}
.create-account-box a {
  max-width: 150px;
  text-decoration: none !important;
  color: black !important;
  font-size: 1.1rem;
  border: 2px solid #800000;
  padding: 10px;
}
.create-account-box a:hover {
  color: #800000 !important;
  border-color: black;
}
@media screen and (max-width: 968px) {
  .online-platform-box:hover {
    background-color: #800000;
    color: white !important;
    transition: ease-in-out 0.6s;
  }
}
@media screen and (max-width: 840px) {
  .online-platform-intro-text-box h1 {
    font-size: 1.6rem;
  }
  .online-platform-intro-text-box p {
    font-size: 1.1rem;
    color: gray;
  }
}
@media screen and (max-width: 760px) {
  .online-platform-intro-text-box h1 {
    font-size: 1.3rem;
  }
  .online-platform-intro-text-box p {
    font-size: 1rem;
    color: gray;
  }
  .main-online-content-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    padding: 0;
  }
  .online-platform-img-box {
    margin-right: 0;
    padding: 0;
  }
  .online-platform-img-box img {
    width: 80px;
  }
  .online-platform-text-box {
    width: 100%;
  }
  .online-platform-text-box h3 {
    font-size: 1.1rem;
  }
  .online-platform-text-box p {
    font-size: 12px;
  }
}
@media screen and (max-width: 630px) {
  .online-platform-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .online-platform-text-box {
    width: 100%;
  }
  .online-platform-box {
    padding: 20px;
  }
  .online-platform-intro-text-box h1 {
    font-size: 1.3rem;
  }
  .online-platform-intro-text-box p {
    font-size: 1rem;
    color: gray;
  }
  .online-platform-img-box img {
    width: 80px;
  }
  .online-platform-text-box {
    width: 60%;
  }
  .online-platform-text-box h3 {
    font-size: 1.1rem;
  }
  .online-platform-text-box p {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .main-online-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .online-platform-text-box {
    max-width: 100%;
  }
  .online-platform-box {
    padding: 5px;
  }
  .online-platform-box:hover {
    background-color: #800000;
    color: white !important;
    transition: ease-in-out 0.6s;
  }
  .online-platform-img-box img {
    width: 100px;
    padding: 5px;
  }
  .online-platform-intro-text-box h1 {
    font-size: 1.2rem;
  }
  .online-platform-intro-text-box p {
    font-size: 15px;
    color: gray;
  }
  .online-platform-text-box h3 {
    font-size: 1rem;
  }
  .online-platform-text-box p {
    font-size: 14px;
  }
  .online-platform-btns-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .create-account-box, .more-about-us-box {
    width: 100%;
    margin: 5px;
    padding: 10px;
  }
}


/* Open new bank account component styles */
#open-new-account-container {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  width: 100%;
  background-image: url("../assets/open-new-bg-img.jpg");
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-bottom: 0;
  padding: 30px;
}
.inner-open-new-account-box {
  padding: 2rem;
}
.inner-open-new-account-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.open-new-account-header-text {
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.open-new-account-header-text p {
  font-size: 2rem;
  color: white;
  text-transform: capitalize;
}
.open-new-account-box a {
  max-width: 150px;
  padding: 10px;
  font-size: 1.1rem;
  text-decoration: none !important;
  color: white !important;
  border: 1px solid #800000;
  background-color: #800000;
}
.open-new-account-box a:hover {
  color: #800000 !important;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .open-new-account-header-text {
    padding: 10px;
  }
  .open-new-account-header-text p {
    font-size: 1.4rem;
  }
  .open-new-account-box a {
    font-size: 1rem;
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .open-new-account-header-text p {
    font-size: 1.2rem;
  }
  .open-new-account-box a {
    font-size: 14px;
    padding: 10px;
  }
  .open-new-account-header-text p {
    font-size: 1rem;
    align-items: center;
  }
}


/* Online Services component styles */
#main-services-container {
  width: 100%;
  padding: 2rem 2rem;
  margin-bottom: 1rem;
}
.inner-services-container {
  width: 100%;
  padding: 1rem;
}
.services-title-heading-box {
  width: 100%;
  padding-bottom: 1.5rem;
}
.services-title-heading-box h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
.services-title-heading-box p {
  color: gray;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.services-content-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto
}
.services-inner-content-box {
  margin: 10px;
}
.services-content-box {
  width: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 10px;
  border-bottom: 1px solid #800000;
  background-color: white;
  box-shadow: 1px 1px 3px 3px lightgray;
}
.services-content-img-box {
  padding: 2rem;
}
.services-content-img-box img {
  width: 100px;
}
.services-content-text-box {
  color: black;
}
.services-content-text-box h4 {
  font-size: 1rem;
}
@media screen and (max-width: 1045px) {
  #main-services-container {
    width: 100%;
    margin: 0 auto;
  }
  .inner-services-container {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
  }
  .services-title-heading-box {
    width: 100%;
    padding-bottom: 5px;
  }
  .services-title-heading-box h1 {
    font-size: 1.6rem;
    padding-bottom: 5px;
  }
  .services-title-heading-box p {
    color: gray;
    font-size: 1rem;
  }
  .services-content-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
  }
  .services-content-box {
    width: 100%;
    padding: 1rem;
  }
  .services-content-img-box {
    padding: 2rem;
  }
  .services-content-img-box img {
    width: 100px;
  }
  .services-content-text-box h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .services-inner-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .services-title-heading-box {
    padding-bottom: 3px;
  }
  .services-title-heading-box h1 {
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
  .services-title-heading-box p {
    font-size: 14px;
  }
  .services-content-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .services-inner-content-box {
    margin: 0;
  }
}


/* Setup your business component styles */
#setup-business-container {
  width: 100%;
  padding: 1rem;
}
.inner-setup-container {
  padding: 1rem;
}
.main-setup-content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
.inner-setup-text-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.setup-img-content-box {
  width: 50%;
}
.setup-img-content-box img {
  width: 30rem;
}
.setup-text-content-box {
  width: 70%;
  margin: 10px;
  padding: 10px;
}
.setup-business-btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  padding: 10px;
  margin: 0 auto;
  text-decoration: none !important;
  color: white !important;
  border: 1px solid #800000;
  background-color: #800000;
}
.setup-business-btn a:hover {
  color: #800000 !important;
  background-color: white;
}
.setup-text-content-box h3 {
  font-size: 2rem;
  text-align: left;
  padding: 5px;
  text-transform: capitalize;
}
.setup-text-content-box p {
  text-align: left;
  padding: 10px;
  text-transform: capitalize;
}
@media screen and (max-width: 990px) {
  .inner-setup-container {
    padding: 10px;
  }
  .main-setup-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .setup-img-content-box {
    width: 60%;
  }
  .setup-img-content-box img {
    width: 100%;
  }
  .setup-text-content-box {
    width: 50%;
    margin: 10px;
    padding: 4px;
  }
  .setup-text-content-box h3 {
    font-size: 1.5rem;
  }
  .setup-text-content-box p {
    text-align: left;
    padding: 2px;
  }
}
@media screen and (max-width: 768px) {
  #setup-business-container {
    padding-top: 0;
  }
  .inner-setup-container {
    padding: 0;
  }
  .main-setup-content-container {
    padding: 0;
  }
  .inner-setup-text-content {
    padding: 0;
  }
  .inner-setup-text-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  .setup-img-content-box {
    width: 100%;
  }
  .setup-img-content-box img {
    width: 70%;
  }
  .setup-text-content-box {
    width: 100%;
    margin: 5px;
    padding: 4px;
  }
  .setup-text-content-box h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .setup-text-content-box p {
    font-size: 14px;
    text-align: center;
  }
}


/* Grow your business component styles */
#grow-business-container {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
}
.inner-grow-container {
  padding: 1rem;
}
.main-grow-content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
.inner-grow-text-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.grow-img-content-box {
  width: 50%;
}
.grow-img-content-box img {
  width: 30rem;
}
.grow-text-content-box {
  width: 70%;
  margin: 10px;
  padding: 10px;
}
.grow-text-content-box h3 {
  font-size: 2rem;
  text-align: left;
  padding: 5px;
  text-transform: capitalize;
}
.grow-text-content-box p {
  text-align: left;
  padding: 10px;
  text-transform: capitalize;
}
.grow-business-btn {
  margin-top: 2rem;
}
.grow-business-btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  padding: 10px;
  margin: 0 auto;
  text-decoration: none !important;
  color: white !important;
  border: 1px solid #800000;
  background-color: #800000;
}
.grow-business-btn a:hover {
  color: #800000 !important;
  background-color: white;
}
.grow-text-content-box ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.grow-text-content-box li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2px;
  list-style: none;
}
.grow-text-content-box ul li i {
  padding-right: 5px;
  font-size: 1.4rem;
  color: #800000;
}
@media screen and (max-width: 990px) {
  .inner-grow-container {
    padding: 10px;
  }
  .main-grow-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .grow-img-content-box {
    width: 40%;
  }
  .grow-img-content-box img {
    width: 100%;
  }
  .grow-text-content-box {
    width: 50%;
    margin: 10px;
    padding: 4px;
  }
  .grow-text-content-box h3 {
    font-size: 1.5rem;
  }
  .grow-text-content-box p {
    text-align: left;
    padding: 2px;
  }
  .grow-text-content-box ul li i {
    padding-right: 2px;
    font-size: 1rem;
    color: #800000;
  }
}
@media screen and (max-width: 768px) {
  #grow-business-container {
    padding-top: 0;
  }
  .inner-grow-container,
  .inner-grow-text-content,
  .main-grow-content-container {
    padding: 0;
  }
  .inner-grow-text-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  .grow-business-btn {
    margin-top: 5px;
  }
  .grow-img-content-box {
    width: 100%;
  }
  .grow-img-content-box img {
    width: 70%;
  }
  .grow-text-content-box {
    width: 100%;
    margin: 5px;
    padding: 4px;
  }
  .grow-text-content-box h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .grow-text-content-box p {
    font-size: 14px;
    text-align: center;
  }
  .grow-text-content-box ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
  }
  .grow-text-content-box ul li {
    font-size: 1.1rem;
  }
  .grow-text-content-box ul li i {
    padding-right: 5px;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 500px) {
  .grow-business-btn {
    margin-top: 5px;
  }
  .grow-text-content-box ul li {
    font-size: 12px;
  }
  .grow-text-content-box ul li i {
    font-size: 12px;
  }
}
/* Grow your business component styles */


/* Download Apps component styles */
#download-app-container {
  width: 100%;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.inner-download-app-container {
  padding: 1rem;
}
.main-download-app-content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
.inner-download-app-text-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.download-app-img-content-box {
  width: 50%;
}
.download-app-img-content-box img {
  width: 30rem;
}
.download-app-text-content-box {
  width: 70%;
  margin: 10px;
  padding: 10px;
}
.download-app-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.download-app-btn a i {
  padding: 5px;
  font-size: 1.3rem;
}
.download-app-btn a span {
  font-size: 1.3rem;
}
.download-app-btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 10px;
  margin: 0 auto;
  text-decoration: none !important;
  color: white !important;
  border: 1px solid #800000;
  background-color: #800000;
}
.download-app-btn a:hover {
  color: #800000 !important;
  background-color: white;
}
.download-app-text-content-box h3 {
  font-size: 2rem;
  text-align: left;
  padding: 5px;
  text-transform: capitalize;
}
.download-app-text-content-box p {
  text-align: left;
  padding: 10px;
  text-transform: capitalize;
}
@media screen and (max-width: 990px) {
  .inner-download-app-container {
    padding: 10px;
  }
  .main-download-app-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .download-app-img-content-box {
    width: 60%;
  }
  .download-app-img-content-box img {
    width: 100%;
  }
  .download-app-text-content-box {
    width: 50%;
    margin: 10px;
    padding: 4px;
  }
  .download-app-text-content-box h3 {
    font-size: 1.5rem;
  }
  .download-app-text-content-box p {
    text-align: left;
    padding: 2px;
  }
}
@media screen and (max-width: 768px) {
  #download-app-container {
    padding-top: 0;
  }
  .inner-download-app-container {
    padding: 0;
  }
  .main-download-app-content-container {
    padding: 0;
  }
  .inner-download-app-text-content {
    padding: 0;
  }
  .inner-download-app-text-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  .download-app-img-content-box {
    width: 100%;
  }
  .download-app-img-content-box img {
    width: 70%;
  }
  .download-app-text-content-box {
    width: 100%;
    margin: 5px;
    padding: 4px;
  }
  .download-app-text-content-box h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .download-app-text-content-box p {
    font-size: 14px;
    text-align: center;
  }
  .download-app-btn a i, span {
    font-size: 1rem;
  }
}


/* Tranfer money component styles */
#money-transfer-container {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 2rem;
}
.main-money-transfer-box {
  max-width: 1230px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
}
.money-transfer-text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 36vw;
}
.money-transfer-text-content h3 {
  font-size: 2.5rem;
  text-align: left;
  text-transform: capitalize;
}
.money-transfer-text-content p {
  text-align: left;
  color: gray;
  text-transform: capitalize;
}
.popup-money-tranfers-container {
  background-image: url("../assets/video-bg-img.jpg");
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  width: 60%;
  padding: 1rem;
}
.popup-money-tranfers-container a {
  max-width: 30vw;
  min-height: 6vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  text-decoration: none !important;
  background-color: black;
}
.custom-popup-btn-container span {
  font-size: 2rem;
  color: #800000;
}
.popup-money-tranfers-container a i {
  padding: 15px;
  color: white;
  font-size: 1.5rem;
}
.popup-money-tranfers-container a i:hover {
  color: #800000;
}
.my-custom-popup-model-item-box video {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .main-money-transfer-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 0 auto;
  }
  .money-transfer-text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    padding: 10px;
  }
  .money-transfer-text-content h3 {
    font-size: 2rem;
  }
  .popup-money-tranfers-container {
    width: 60%;
  }
  .my-custom-popup-model-item-box video {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .popup-money-tranfers-container {
    width: 80%;
  }
  .money-transfer-text-content h3 {
    font-size: 1.3rem;
  }
  .money-transfer-text-content p {
    font-size: 14px;
  }
  .my-custom-popup-model-item-box video {
    width: 80%;
  }
  .custom-popup-btn-container span {
    font-size: 1.3rem;
  }
}


/* Our team component styles */
#our-team-container {
  width: 100%;
  min-height: 20vh;
  padding: 5px;
  margin-bottom: 1rem;
  background-color: #fafafa;
}
.inner-team-container {
  padding: 5px;
}
.main-team-content-box {
  padding: 5px;
}
.inner-team-content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.our-team-headering-box {
  padding: 5px;
  margin-bottom: 1.5rem;
}
.our-team-headering-box h3 {
  font-size: 2rem;
  text-transform: capitalize;
}
.our-team-headering-box p {
  font-size: 1.2rem;
  color: gray;
  text-transform: capitalize;
}
.our-team-items-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.content-box {
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  padding-bottom: 10px;
}
.content-box img {
  object-fit: cover;
  min-height: 40vh;
  width: 280px;
  padding: 5px;
}
.content-box h4 {
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
  font-weight: 700;
}
.content-box h6 {
  text-align: center;
  font-size: 1rem;
  padding: 3px;
  color: gray;
}
.social-icons-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.content-box a {
  max-width: 40px;
  min-height: 3vh;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #800000;
  text-decoration: none !important;
}
.content-box i {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 7px;
  color: #800000 !important;
}
@media screen and (max-width: 900px) {
  .our-team-items-box {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .content-box img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 630px) {
  .our-team-items-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .content-box img {
    width: 100%;
    margin: 0 auto;
  }
  .our-team-headering-box h3 {
    font-size: 1.3rem;
  }
  .our-team-headering-box p {
    font-size: 14px;
    color: gray;
  }
  .content-box h4 {
    font-size: 1.2rem;
  }
  .content-box h6 {
    font-size: 14px;
  }
  .social-icons-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .content-box a {
    margin: 3px;
  }
}


/* Pricing component styles */
#pricing-container {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}
.inner-pricing-container {
  padding: 5px;
  margin-bottom: 1rem;
  min-height: 60vh;
}
.text-contents-container {
  padding: 1rem;
  margin-bottom: 5px;
}
.text-contents-container h3 {
  text-transform: capitalize;
  font-size: 2rem;
}
.text-contents-container p {
  text-transform: capitalize;
  color: gray;
}
.main-pricing-container {
  max-width: 1100px;
  padding: 5px;
  margin: 0 auto;
}
.pricing-contents-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.pricing-content-items-box {
  width: 100%;
  margin: 4px;
  padding: 20px;
  min-height: 30vh;
  border: 1px solid #ebe7e7;
}
.pricing-content-items-box:hover {
  box-shadow: 1px 1px 2px 2px #ebe7e7;
  transition: all 0.3s;
}
.pricing-content-items-box a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  list-style: none !important;
  text-decoration: none !important;
  padding: 10px;
  background-color: gray;
  color: white !important;
  text-transform: uppercase;
}
.pricing-content-items-box a:hover {
  background-color: #800000;
  transition: all 1s;
}
.pricing-content-items-box h4 {
  padding: 5px;
  margin-bottom: 2px;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: black;
}
.pricing-items {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 2px;
}
.pricing-items .money-sign {
  padding: 2px;
  margin-bottom: 15px;
  font-size: 2rem;
  color: black;
}
.pricing-items .money-sign i {
  font-size: 1.3rem;
  margin-top: 1rem;
  padding: 2px;
  color: #800000 !important;
}
.pricing-items .per-month {
  margin-top: 15px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #800000;
}
.list-items-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 30vh;
  align-items: center;
  padding: 20px;
  margin-top: 25px;
}
.list-items-container li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
.list-items-container li span {
  padding-right: 40px;
}
.list-items-container li .custom-green-color {
  color: green;
  font-size: 1.5rem;
}
.list-items-container li .custom-red-color {
  color: red;
  font-size: 1.5rem;
}
@media screen and (max-width: 900px) {
  .text-contents-container h3 {
    font-size: 1.7rem;
  }
  .pricing-contents-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing-items {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 2px;
  }
}
@media screen and (max-width: 630px) {
  .text-contents-container h3 {
    font-size: 1.3rem;
  }
  .text-contents-container p {
    font-size: 15px;
  }
  .pricing-contents-container {
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .pricing-content-items-box h4 {
    font-size: 1.4rem;
  }
  .pricing-items .per-month {
    font-size: 14px;
  }
  .pricing-items .money-sign {
    padding: 2px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: black;
  }
  .pricing-items .money-sign i {
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 2px;
    color: #800000 !important;
  }
  .list-items-container {
    padding: 10px;
    margin-top: 10px;
  }
  .list-items-container li span {
    padding-right: 20px;
  }
  .list-items-container li .custom-green-color {
    font-size: 1rem;
  }
  .list-items-container li .custom-red-color {
    font-size: 1rem;
  }
}



/* Blog Items component styles */
.main-blog-items-content-container a {
  text-decoration: none !important;
}
.blog-box-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 0 auto;
}
#main-blog-items-box {
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}
.blog-items-content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
  margin: 10px;
  padding-top: 0;
  padding-bottom: 10px;
  border: 1px solid #fafafa;
  box-shadow: 1px 1px 2px 2px #ebe7e7;
}
.blog-items-content-box img {
  min-height: 25vh;
  width: 100%;
}
.user-info-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}
.user-info-box span {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
}
.user-info-box span i {
  padding: 3px;
  color: #800000;
}
.blog-items-content-box h4 {
  font-size: 1.3rem;
  padding: 10px;
  text-transform: capitalize;
  color: black;
}
.blog-items-content-box h4:hover {
  text-decoration: underline;
}
.blog-items-content-box p {
  color: gray;
  padding: 10px;
}
.blog-items-content-box a {
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  padding: 6px;
  color: white !important;
  border: 1px solid #800000;
  background-color: #800000;
  text-decoration: none !important;
}
.blog-items-content-box a:hover {
  background-color: white;
  color: #800000 !important;
}
@media screen and (max-width: 1110px) {
  .blog-box-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 820px) {
  .blog-box-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .blog-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}



/* Footer component styles */
#footer-container {
  background-color: white;
  padding-top: 5px;
}
.main-inner-footer-container {
  padding: 20px;
}
.inner-footer-container {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.custom-footer-box {
  padding-top: 1rem;
}
.footer-items-links-container {
  min-width: 20%;
  padding: 20px;
}
.footer-items-links-container .logo-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: #800000 !important;
  text-decoration: none;
}
.footer-items-links-container p {
  color: black;
}
#footer-logo-icon {
  font-size: 1.2rem;
  font-weight: 700;
}
.footer-social-media-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-self: flex-end;
  list-style: none;
  padding-left: 0;
}
.footer-social-media-icons li {
  width: 2rem;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid #800000;
  background-color: white !important;
}
.footer-social-media-icons li a {
  font-size: 1rem;
  color: #800000 !important;
}
.footer-social-media-icons li a i {
  color: #800000 !important;
}
.footer-news-letter-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-news-letter-form input {
  width: 100%;
  font-size: 1.6rem;
  outline-offset: none;
  outline: none;
  border-radius: 0;
  border-radius: 0 0 0 0;
}
.footer-news-letter-form .news-letter-btn {
  outline-offset: none;
  outline: none;
  border: none;
  border-radius: 0;
  border-radius: 0 0 0 0;
  font-size: 1.2rem;
  padding: 8px;
  background-color: #800000;
  color: white !important;
}
.footer-news-letter-form .news-letter-btn:hover {
  background-color: black;
}
.footer-items-links-container {
  padding: 1.5rem;
}
.footer-items-links-container h5 {
  color: #800000;
  font-size: 1.2rem;
}
.footer-items-links-box {
  list-style: none;
  padding: 5px;
}
.footer-items-links-box li {
  padding: 5px;
}
.footer-items-links-box li i {
  padding: 3px;
}
.footer-items-links-box li a {
  text-decoration: none;
  color: black !important;
}
.footer-items-links-box li span {
  text-decoration: none;
  color: black !important;
}
.right-reserved-container {
  text-align: center;
  width: 100%;
  background-color: #fafafa;
  padding: 1rem;
}
.right-reserved-container p {
  color: #800000;
}
.footer-news-letter-form input::placeholder{
  font-size: 1.2rem;
}
@media screen and (max-width: 968px) {
  .inner-footer-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-items-links-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 20px;
    margin: 0 auto;
  }
  .footer-news-letter-form input {
   font-size: 16px;
  }
  .footer-news-letter-form input::placeholder{
    font-size: 16px;
  }
  .custom-footer-box {
    padding-top: 1rem;
  }
  .footer-items-links-container .logo-link {
    font-size: 1.2rem;
  }
  #footer-logo-icon {
    font-size: 1.2rem;
  }
  .footer-news-letter-form {
    width: 100%;
  }
  .footer-news-letter-form .news-letter-btn {
    font-size: 15px;
    padding: 4px;
  }
}
@media screen and (max-width: 768px) {
  .inner-footer-container {
    max-width: 550px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .footer-items-links-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 20px;
    margin: 0 auto;
  }
  .footer-items-links-container {
    width: 100%;
  }
  .footer-news-letter-form input[type="email"] {
    width: 100%;
  }
  .footer-news-letter-form input::placeholder{
    font-size: 14px;
  }
  .custom-footer-box {
    padding-top: 1rem;
  }
  .footer-items-links-container .logo-link {
    min-height: 30px;
    font-size: 1.2rem;
  }
  #footer-logo-icon {
    font-size: 1.2rem;
  }
  .footer-news-letter-form .news-letter-btn {
    font-size: 15px;
    padding: 5px;
  }
}
@media screen and (max-width: 600px) {
  .inner-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer-items-links-container {
    width: 100%;
  }
  .footer-news-letter-form input {
    width: 100%;
    font-size: 1.6rem;
  }
  .footer-news-letter-form .news-letter-btn {
    font-size: 1.2rem;
    padding: 8px;
  }
  .right-reserved-container p {
    font-size: 14px;
  }
}
